html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#card {
  height: fit-content;
  width: 250px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.section-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.imageProfile {
  width: 120px;
  height: 120px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  p {
    position: absolute;
    font-size: 16px;
    z-index: 0;
  }
  img{
    object-fit: cover;
    object-position: center; 
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.section-logo {
  width: 70px;
  margin-right: 15px;
  
}


.Mylogo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    position: absolute;
    color: red;
    font-size: 14px;
    z-index: 0;
  }
  img{
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 20px;
  }
}


.school{
  color: #fff;   
  width: 7ch;     
  text-align: center;   
  word-break: break-all;  
  overflow-wrap: break-word;
  padding: 10px 5px;
  letter-spacing: 2px;
}




.section-2 {
  display: flex;
  flex-direction: column;
  padding: 20px 7px 0;
  height: 150px;
  position: relative;

  .name{
    gap:10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  h3{
    margin-top: 10px;
    z-index: 1;
  }
}


.city{
  background-image: url('/picture/kmitl-city.png');
  background-repeat: no-repeat; 
  background-position: bottom; 
  background-size: cover; 
  position: absolute;
  opacity: 0.2;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100px;
  z-index:0;
}


.line {
  background-color: #000;
  width: 100%;
  height: 2px;
  margin-top: 10px;
}



.section-3 {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  color:#fff;
  height: 40px;
  z-index: 1;
  padding-right: 10px;
  font-weight: bold;
}


.cskmitl{
  width: 70px;
  height: 70px;
  background-image: url('/picture/cskmitl.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom:0;
  right: 0;
}